$pf-rating-height: 156;
$pf-rating-width: 225;
$pf-rating-modal-height: 50;
$pf-rating-box-shadow: inset 0 0 1px 1px $g-color-border;

.pf-rating {
  position: relative;
}

// 1. Based on spec
.pf-rating-content {
  box-shadow: $pf-rating-box-shadow;
  border: 1px solid $g-color-border;
  border-radius: $g-form-radius;
  //height: rem($pf-rating-height);
  padding: rem($g-spacing-x-large);
  width: rem($pf-rating-width);
  
  &.is-disabled {
    opacity: 0.42; // [1]
  }
}

.pf-rating-content__title {
  color: $g-color-text;
  font-size: rem($g-font-size-x-large);
  margin-bottom: rem($g-spacing);
}

.pf-rating__button {
  padding: 0 rem($g-spacing-2x-small);
  
  &:first-child {
    margin-left: rem(-$g-spacing-x-small);
  }
}

.pf-rating__button.is-selected svg path {
   fill: $g-color-blue;
}

.pf-rating-modal {
  background-color: $g-color-success;
  border-radius: $g-form-radius;
  //margin-bottom: rem($g-spacing-x-small);
  height: rem($pf-rating-modal-height);
  padding: rem($g-spacing);
  text-align: center;
  width: 100%;
  
  // NOTE: Find out modal should be floating or not
  position: absolute;
  left: 0;
  right: 0;
  top: -(rem($pf-rating-modal-height + $g-spacing-x-small));
}

.pf-rating-modal__text {
  color: $g-color-white;
  font-size: rem($g-font-size-small);
  font-weight: $g-font-weight-bold;
  letter-spacing: 0.5px;
}

.pf-rating-read-only {
  border: 1px solid $g-color-border;
  border-radius: $g-form-radius;
  padding: rem($g-spacing-large) rem($g-spacing-x-large);
}

.pf-rating-read-only__title {
  color: $g-color-text;
  font-weight: $g-font-weight-light;
  font-size: rem($g-font-size-large);
}